<h1>Results</h1>
<div class="row">
  <h5 class="col-md-6">Tutor - Teacher</h5>
  <h5 class="col-md-6">Tutor - Parent</h5>
</div>
<div class="row mb-3">
  <div class="my-custom-scrollbar col-md-6">
    <table class="table table-striped table-bordered table-hover table-sm" id="table1">
      <tr class="thead-dark">
        <th>Tutor</th>
        <th>Email</th>
        <th>Teacher</th>
        <th>Email</th>
      </tr>
      <% @tt_pairs.each do |pair| %>
        <% tutor = Tutor.find(pair["tutor_id"][1..-1]) %>
        <% teacher = Teacher.find(pair["tutee_id"][1..-1]) %>
        <tr>
          <td><%= tutor['name'] %></td>
          <td><%= tutor['email'] %></td>
          <td><%= teacher['name'] %></td>
          <td><%= teacher['email'] %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="my-custom-scrollbar col-md-6">
    <table class="table table-striped table-bordered table-hover table-sm" id="table1">
      <tr class="thead-dark">
        <th>Tutor</th>
        <th>Email</th>
        <th>Parent</th>
        <th>Email</th>
      </tr>
      <% @tt_pairs.each do |pair| %>
        <% tutor = Tutor.find(pair["tutor_id"][1..-1]) %>
        <% parent = Parent.find(pair["tutee_id"][1..-1]) %>
        <tr>
          <td><%= tutor['name'] %></td>
          <td><%= tutor['email'] %></td>
          <td><%= parent['name'] %></td>
          <td><%= parent['email'] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
